body {
    font-family: Arial, sans-serif;
}

#app {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

#grocery-list {
    list-style-type: none;
    padding: 0;
}
#grocery-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
